.Contact {
    margin-left: 140px;
    margin-top: 150px;
}

.Contact h1 {
    font-size: 60px;
    width: 650px;
    letter-spacing: 5px;
    font-weight: bolder;
}

.Contact .container .button {
    background-color: #35C2BD;
    color: white;
    border-radius: 8px;
    border: 0;
    font-size: 30px;
    margin-top: 15px;
    box-shadow: 7px 10px 14px -1px rgba(0,0,0,0.38);
    -webkit-box-shadow: 7px 10px 14px -1px rgba(0,0,0,0.38);
    -moz-box-shadow: 7px 10px 14px -1px rgba(0,0,0,0.38);
}

.Contact .container .button:hover {
    background-color: #289794;
}

@media screen and (max-width: 768px) {
    .Contact {
        margin-top: 100px;
        margin-left: 0;
    }

    .Contact .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Contact h1 {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    .Contact .container .button {
        font-size: 25px;
    }
}